h1 {
    color: purple;
    /* border-color: purple;
    border-width: 5px;
    border-style: solid; */
    border: 2px solid rgb(255, 100, 40);
}
li {
    color: black;
}
h4 {
    background: rgb(255, 100, 40);
    color: black;
}
body {
    /* background: url(../img/grain.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background: pink;
}